body{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    overflow-x: hidden;
}
#arrow{
   
    width: 15px;
    height: 15px;
    position:absolute;
    right: -30px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
    background: none;
    cursor: pointer;
    top: 0px;
}#arrow.active{
    transform: rotate(135deg);
    transition: all .4s ease-out;
}
    
.Title-Bar{
   
  position: relative;
  display: flex;
  justify-content: space-around;
  /* width: 100vw; */
  font-weight: bold;
  font-size: 20px;
    
}#row{ 
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background: #AFABAA;
    border-bottom: 1px solid white;
    /* position: absolute; */
    margin-top: 10px;
    font-weight: bold;
    margin-left: 40px;
  
}#row .order-id{
    position: relative;
    cursor: pointer;
    display: block;
}#row .order-user{
    display: flex;
    justify-content: space-around;
}#row .order-file{
    display: flex;
    justify-content: space-around;
}