.Tabs-Container{
    width: 100%;
    background:#FFFFFF;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
}.Tabs-Container .tab{
    background: #595959;
    width: 24%;
    margin: 10px;
    height: 80px;
    box-sizing: border-box;
    border-radius: .15rem;
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    z-index: 2;
    flex-direction: column;
    position: relative;
}.Tabs-Container .tab .tab-count{
    width: 40px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-radius: 50%;
}
/* }.Tabs-Container .tab::before{
    content: "Hello";
    position: absolute;
    width: 50x;
    height: 50px;
    background: chartreuse;
    z-index: 2;
    top: 40px;
} */
.Tabs-Container .tab .down-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: -1;
    background: #595959;
    display: block;
    top: 50px;
    transform: rotate(45deg);
    display: none;
}.Tabs-Container .tab.active{
    background: #333;
}.Tabs-Container .tab .down-icon.active{
    background: #333;
    display: block;
}